body {
  font-family: "Arail","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}

.google-fonts {
  /*ここにGoogle Fontsを指定します*/
  font-family: "Josefin Sans",sans-serif;
  font-style: normal;  
  font-size: 40px ;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px purple;
  border-bottom: solid 3px rgb(115,115,114);
}

.text-pink {
  color:rgb(255,195,203) ;
}

.text-skyblue {
  color:skyblue ;
}

.decoration {
  text-align: center;
}
/*parentクラスの子要素に以下書式が適用される*/
#parent p {
  font-weight: bold;
}